<!--suppress TypeScriptUnresolvedFunction -->
<div class="app-wrapper">

  <img
    [src]="'assets/smartphone-with-user-interface-concept.jpg'"
    class="bg-img" alt=""
  @bgAnim>

  <div class="top-section">
<!--    <h1>11:00</h1>-->
    <h1>{{dateTime | async | date: 'HH:mm'}}</h1>
    <h2>{{dateTime | async | date: 'dd MMMM yyyy'}}</h2>
  </div>

  <div class="content-section" [@routeAnim]="prepareRoute(outlet)">
    <router-outlet #outlet = "outlet"></router-outlet>
  </div>

  <div class="bottom-section">
     <app-tabs></app-tabs>
  </div>

  <app-notification></app-notification>
</div>
